.footer {
    background-color: #333;
    color: #fff;
    height: 48px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    font-size: 12px;
}