<ul>
    <li>
        <a routerLink="/news" [routerLinkActive]="['active']">news</a>
      </li>
  <li>
    <a routerLink="/ask" [routerLinkActive]="['active']">ask</a>
  </li>
  <li>
    <a routerLink="/comments" [routerLinkActive]="['active']">comments</a>
  </li>
  <li>
    <a routerLink="/jobs" [routerLinkActive]="['active']">jobs</a>
  </li>

  <li>
    <a routerLink="/past" [routerLinkActive]="['active']">past</a>
  </li>
  <li>
    <a routerLink="/show" [routerLinkActive]="['active']">show</a>
  </li>
</ul>
