<div class="item">
    <div class="item__index">
        {{indexPost}}
    </div>
    <div class="item__icon">
        ↑
    </div>
    <div class="item__content item-content">
       <div class="item-content__title">
        {{dataPost.key.title}} <span>&nbsp;({{dataPost.key.url}})</span>
       </div>
       <div class="item-content__footer item-content-footer">
            <span class="item-content-footer">{{dataPost.key.points}} by {{dataPost.key.author}} date | hide | {{dataPost.key.num_comments}} comments</span>
       </div>
    </div>
</div>