<button mat-raised-button color="primary" class="back" (click)="histroryBack()">BACK</button>
<div class="comment">
    <div class="item">
        <div class="item__content item-content">
          <div class="item-content__title">
            <!-- [routerLink]="'/news/comments/' + dataPost.key.objectID" -->
            <div class="title-link">{{data?.title}}</div>
            <a href="{{ data?.url }}" target="_blank">{{ data?.url }}</a
                >&nbsp;
          </div>
          <div class="item-content__footer item-content-footer">
            <span class="item-content-footer"
            >{{ data?.points }} by {{ data?.author }} |
            {{ data?.created_at | date : "dd/MM/yyyy" }}</span
          >
          </div>
        </div>
      </div>
<h1>ниже коммент</h1>
<!-- <pre>{{dataSource | json}}</pre> -->
<cdk-tree 
[dataSource]="dataSource"
[treeControl]="treeControl"
>
    <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
      <button mat-icon-button disabled></button>
      {{node.author}}
    </cdk-nested-tree-node>
    <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
      <button mat-icon-button [attr.aria-label]="'Toggle ' + node.author" cdkTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.author}}
      <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container cdkTreeNodeOutlet></ng-container>
      </div>
    </cdk-nested-tree-node>
  </cdk-tree>
</div>