@import url('../../ui/post/post.component.scss');
.item {
    margin-bottom: 24px; 
    border-bottom: 1px solid black;
    padding-bottom: 16px;
    padding-top: 16px;
}
.back {
    margin-top: 16px;
}
.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .example-tree-node {
    display: block;
  }
  
  .example-tree-node .example-tree-node {
    padding-left: 40px;
  }